.container{
    margin:5%
}
.card-container{
    padding: 2%;
}
.card-container div{
    margin-bottom: 1.5%;
}

.mat-form-field {
    max-width: 500px;
    min-width: 500px;
}
.small-width{
    max-width: 100px;
    min-width: 100px;
}
.mid-width{
    max-width: 390px;
    min-width: 390px;
    margin-left:10px
}